<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Page Title</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>  
    <section>
        <article>
            <header>
                <h1>Main Page #1</h1>
                <h2>EPSA</h2>
            </header>
            <section>                
                <aside> <!-- class="hide" -->
                    <img src="FMP-01.png">
                </aside>
            </section>

        </article>
    </section>
</body>
</html>