<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Page Title</title>
    <meta charset="utf-8">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <section class="project-cover">
            <article>
                <header>
                    <h1>DTS</h1>
                </header>
                <aside>
                    <h2>디티에스 사이트 구축</h2>
                    <p>2021. 09. 13 ~ 2021. 10. 22</p>
                    <p>Design 100%</p>
                    <p>Adobe Photoshop, Adobe Illustrator, Adobe XD</p>
                    <p>Web, Mobile</p>
                </aside>
            </article>
        </section> 
        <div class="caption">
            <p>프로젝트 커버</p>
        </div>
        <section class="project-contents blue">
            <article>
                <header>
                    <h1>Main Page #1</h1>
                    <h2>EPSA</h2>
                </header>
                <div class="pic">                
                    <aside> <!-- class="hide" -->
                        <img src="FMP-01.png">
                    </aside>
                </div>
            </article>
        </section>
        <div class="caption">
            <p>글로벌 기업가정신협회 메인 화면</p>
        </div>
    </div>
</body>
</html>