<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% assign current = page.url | downcase | split: '/' %}
      <header>
        <nav class="nav">
          <div class="nav-container">
              <a href="/">
                <h1 class="logo">
                  <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 72 72"><defs><style>.cls-1{fill:#09112d;}.cls-2{fill:#47b24d;}.cls-3{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:6px;}</style></defs><title>oxo_logo</title><path class="cls-1" d="M256.3,212.84a36,36,0,0,0-31.5,18.56,18,18,0,0,1,0,34.88,36,36,0,1,0,31.5-53.44Z" transform="translate(-220.3 -212.84)"/>
                    <path class="cls-2" d="M238.43,248.84A18,18,0,0,0,224.8,231.4a36,36,0,0,0,0,34.88A18,18,0,0,0,238.43,248.84Z" transform="translate(-220.3 -212.84)"/><line class="cls-3" x1="58.23" y1="25.78" x2="28.55" y2="55.47"/><line class="cls-3" x1="58.23" y1="44.86" x2="28.55" y2="15.17"/>
                  </svg>
                  <span>
                    {{ site.author.name }}
                  </span>
                </h1>
              </a>
              <ul>
                  <!-- <li class="transition">
                      <a href="{{ '' | prepend: site.baseurl }}/" {% if current[1] == "about" or current[1] == "blog" or current[1] == "photo" or current[1] == "book" or current[1] == "project" %} class="normal" {% endif %} class="active">Home</a>
                  </li> -->
                  <li class="transition">
                      <a href="{{ '/projects' | prepend: site.baseurl }}" {% if current[1] == "projects" %} class="active"{% endif %} >Projects</a>
                  </li>
                  <li class="transition">
                      <a href="{{ '/blog' | prepend: site.baseurl }}" {% if current[1] == "blog" %} class="active"{% endif %} >Blog</a>
                  </li>
                  <li class="transition">
                      <a href="{{ '/photo' | prepend: site.baseurl }}" {% if current[1] == "photo" %} class="active"{% endif %} >Photo</a>
                  </li>
                  <li class="transition">
                      <a href="{{ '/book' | prepend: site.baseurl }}" {% if current[1] == "book" %} class="active"{% endif %} >Book</a>
                  </li>
                  <!--<li class="transition">
                      <a href="{{ '/about' | prepend: site.baseurl }}" {% if current[1] == "about" %} class="active"{% endif %} >About</a>
                  </li>-->
              </ul>
          </div>
        </nav>
      </header>
    {% if page.home == true %}
        {% include resume-header.html %}
    {% endif %}
    {% if page.post-header == true %}
        {% include post-header.html %}
    {% endif %}
    {% if page.project-header == true %}
        {% include project-header.html %}
    {% endif %}
    <div class="extend">
      <main>
        {{ content }}
          <!--
          {% if page.text == true %}
              {% include share.html %}
          {% endif %}
          -->
      </main>
    </div>
      {% include footer.html %}

  </body>
</html>
